*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat',sans-serif;
}
.btn-menu-bar{
    padding: 2.4rem;
    font-size: 1.6rem;
    display: none;
    border: none;
    outline: none;
    background:#ce3232;
    color: #fff;
}
.mobile-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(26, 26, 26,0.8);
    z-index: 10001;
}

.mobile-menu {
    position: relative;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 300px;
    max-width: 100%;
    padding-bottom: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.5rem;
    background: url(/project1/assets/img/background-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #555;
   animation: leftToRigt ease 0.8s;
}
.nav-menu-mobile{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;   
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
}
.nav-item-mobile{

    padding: 3.2rem 0;
    margin-left: 1.6rem;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
.nav-item-mobile:hover .nav-link-mobile {
    text-decoration: none;
    color: #ce3232;
    opacity: 0.8;
    cursor: pointer;
  
}
.nav-link-mobile{  
    display: block; 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-link-mobile > i {
    font-size: 1.8rem;
    margin-right: 1.2rem;
    color: #ce3232;
}
.close-mobile{
    position: absolute;
    font-size: 2rem;
    padding: 1.2rem;
    line-height: 26.4px;
    right: 0;
    background-color: #ce3232;
    border: none;
}
.close-mobile > a {
    color: #000;
}
.login-mobile{
    
   font-size: 2.4rem ;
   padding: 2.4rem;
}
.login-mobile > a {
    display: block;
    margin-top: 2.4rem;
    color: #fff;

}
.col-half{
    width: 49.9999%;
}
.open-menu-mobile {
    display: block !important;
}
.open {
    display: flex !important;
}
.close {
    display: none !important;
}
/* hover item */
 .food-hover-link {
    z-index: 1;
    position: relative;
    font-size: 1.8rem;
    color: white;
    padding: 1.2rem 2.4rem;
    text-transform: uppercase;
    background-color: hsl(236, 32%, 26%);
  }
  
  .food-hover-link::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ce3232;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
  
  .food-hover-link:hover {
    cursor: pointer;
    color: #1c1c1c;
    text-decoration: none;
  }
  
  .food-hover-link:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
.carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
  }
.header{
    z-index: 1001;
    background-color: rgb(26, 26, 26,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}
.menu-logo{
    position: relative;
}
.menu-logo-link{
    display: block;
    padding: 2.4rem 1.6rem;
    margin-left: 3.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
}

.menu-logo-link:hover,
.nav-item:hover .nav-link,
.nav-cart:hover,.nav-user:hover{
    color: #ce3232;
    text-decoration: none;

}
.nav-menu{
    display: flex   ;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
}
.nav-item{
    padding: 3.2rem;
    margin-left: 1.6rem;
    font-size: 1.2rem;
    
}
.nav-link{  
    display: block; 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-right{
    display: flex   ;
    justify-content: center;
    align-items: center;
    margin-right: 3.2rem;
}
.nav-user{
    cursor: pointer;
    padding: 1.6rem;
    color: #ffff;
    font-size: 1.4rem;
    margin-left: 2rem;
    border: 3px solid #fff;
    border-radius: 50%;
}
 
.slider {

}
.item-slider-img{
    width: 100%;
    height: 660px;
    object-fit: cover;
}
.slider-title {
    margin-bottom: 6.4rem;
    font-size: 2.4rem;
}
.btn-slider{
    margin-top: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background:#292929 ;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    color: #f9f9f9;

}
.btn-slider--link {
    display: block;
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    transition: 0.5s 0.2s;
}
.btn-slider:hover .btn-slider--link
{
    background: #f9f9f9;
    color:#292929;
    text-decoration: none;
}
.content {
   
}
.content-story{
    width: 80%;
    margin: 0 auto;
    padding: 6.4rem 0;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-column-gap: 2rem ;
}
.content-story--left > h4 {
    color: #bfbdbd;
    font-size: 2rem;
    letter-spacing: 1px;
}
.content-story--title {
    color: #353535;
    font-size: 4rem;
}
.content-story-decs  {
    color: #757575;
    font-size: 1.6rem;
    padding: 0.8rem 0;
    line-height: 1.4;
    text-align: justify;
}
.content-story-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-team{
    width: 80%;
    margin: 0 auto;
    padding: 6.4rem 0;
}
.content-section{
    text-align: center;
}
.content-section--title {
    color: #353535;
    font-size: 4rem;
    font-weight: bold;
}
.content-section--decs{
    padding: 2.4rem 0 ;
    font-size: 1.6rem;
    color: #bfbdbd;
    letter-spacing: 1px;
}
.content-team--cards {
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
}
.content-team--card{
    
    padding: 3.2rem 1.6rem;
    position: relative;
      
}
.container-img{

    position: relative;
    overflow: hidden;
    
}
.team-hover{
    background: #1c1c1c;
    position: absolute;
    background-color: rgb(26, 26, 26,0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(100%);
    opacity: 0;
    transition: all ease 0.5s;
    
 
}
.team-hover > h4 {
    font-size: 2rem;
    padding: 2.4rem;
    text-align: center;
    
}
.socical-item{
    display: inline-block;
    background: #292929;
    border-radius: 100%;
    
}
.socical-item:hover > .socical-link{
    background: #ce3232;
    color: #fff;
   
}
.socical-link{
    border-radius: 100%;
    padding: 0.8rem 1.6rem;
    width: 5rem;
    height: 5rem;
    display: block;
    transition: 0.5s 0.2s;
    color: #d9d9d9;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
}
.container-img:hover .card--img {
    cursor: pointer;
    transform: scale(1.25);
}
.container-img:hover .team-hover,
.food-item--img:hover .food-hover {
    cursor: pointer;
    transform: translateY(0);
    opacity: 1;
}
.card--img{

    
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
.card-content {
    
  
    flex: 1;
    text-align: center;
    padding-top: 3rem;
}
.card--name {


    letter-spacing: 2px;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
}
.card--job {
  
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #bfbdbd;
    font-weight: bold;
}
.food-item {
    padding: 3.2rem 1.6rem;
    
}
.food-item--img{
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 54rem;
}
.food-item--img  img {
    transition:  0.5s 0.2s;
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-food-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
}

.food-hover{
    background-color: rgb(26, 26, 26,0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s 0.2s;
}
/* .food-hover-link {
    display: block;
    padding: 1rem 2.4rem;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: bold;
    font-size: 1.6rem;
    transition: 0.3s 0.1s;
    letter-spacing: 1px;
} */
.food-item--img:hover > img{
    transform: scale(1.25);
    border-radius: 1rem;
}
.content-food-testimonials{
    z-index: -2;
    background: url(/project1/assets/img/slider-image3.jpg) center center no-repeat;
    background-size: cover;
    height: 560px;
    position: relative;
    color: #fff;
    text-align: center;
    margin-bottom: 6.4rem;
}   
.testimonials-content{
    padding: 10rem;
    position: absolute;
   
}
.testimonials-title{
    font-size: 4rem;
    padding-bottom: 2rem;
}
.testimonials-decs {
    font-size: 2.4rem;

    letter-spacing: 1px;
    padding: 1.6rem 3.2rem;
}
.testimonials-author {
    padding: 2rem;
}
.testimonials-author > h4 {
    font-size: 2rem;
    letter-spacing: 2px;
}
.testimonials-author >p {
    font-size: 1.6rem;
    opacity: 0.8;

}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30rem;
    padding: 3rem;
    grid-gap:3rem;
}
.footer-info {
    padding: 2rem;
    text-align: center;
}
.info-title {
    margin-bottom: 1.2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #000;
    opacity: 0.8;
}
.info-decs{ 
    font-size: 1.6rem;
    opacity: 0.8;
}
.footer-time-open{

    padding: 2.5rem 0 2.5rem 4.5rem;
    right: 2rem;
    bottom: 2rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    background: url(/project1/assets/img/footer-open-hour-bg.jpg) center center no-repeat;
}

.time-title{
    font-size: 2.4rem;
    color: #fff;
    z-index: 1000;
    padding-top: 2rem;
}
.footer-time-info {
    background: rgba(29,29,29,0.85);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;

}
.time-open p{
    font-size: 1.4rem;
    color: #fff;
    opacity: 0.8;
    padding-bottom: 1rem;
    z-index: 1000;
}
.time-open h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    z-index: 1000;

}
.food-socical {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.food-socical > p {
    font-size: 1.4rem;
    padding: 0.8rem;
}
.nav-socical {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.nav-socical-item{
   list-style: none;
}
.nav-socical-link {
    display: block;
    border-radius: 10rem;
    color: #ce3232;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition:all ease-in .2s;
}
.nav-socical-item:hover .nav-socical-link {
    background: #ce3232;
    color: #ffffff;
}
.modal-close {
    z-index: 100;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255,0.6);
    cursor: pointer;
}
.modal-form{
    background-color: rgba(29,29,29,0.85);
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    animation: toDown ease 0.5s;
}
.modal-login{
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-form h1{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
.btn-login{
    padding: 1.2rem 1.6rem;
    background-color: #4267b2;
    border-radius: 4px;
    border-color: rgba(0,0,0,0.2);
    margin: 1.6rem 0;

}
.btn-social{
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    text-decoration: none;
}
.btn-social > i {
    margin-right: 1.5rem;
}
.btn-social:hover {
    color: #eee;
    text-decoration: none;
}


.login{
    padding: 4rem;
    background-color: white;
}
input[type=text] {
    width: 100%;
    padding: 1rem 2.4rem;
    margin: 8px 0;

}
input[type=submit] {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.8rem;
    background-color:#ffcc00;
    width: 100%;
    padding: 1.2rem 2.4rem;
    margin-top: 1.5rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
}
input[type=submit]:hover {
    opacity: 0.8;
}
.sign-up {
    font-size: 1.3rem;
    opacity: 0.7;
}
.sign-up >a{
    font-size: 1.7rem;
    margin-left: 0.5rem;
    text-decoration: underline;
}
@keyframes toDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes leftToRigt {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}